.nav-item {
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 12px;
  border-radius: 10px;
  cursor: pointer;
  margin-bottom: 4px;
  transition: 0.2s;
}

.nav-item:hover {
  background-color: #f2f2f2;
}

.nav-item svg {
  font-size: 24px;
}

.nav-item.active {
  font-weight: bold;
}